ul {
    /* remove list's default indentation*/
    padding: 0;
    text-align: center;
}

body {
    margin: 0;
    /*This color should not be seen*/
    background-color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 0.5em;
    background-color: black;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

section {
    margin-bottom: 0.5em;
    height: 45%;
    /*TODO: change to black*/
    background-color: grey;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    height: 100%;
    background-color: silver;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 15%;
    padding: 0.5em;
    background-color: black;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;

}